.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background: lightcyan;

    * {
        color: black;
    }

    a:first-child {
        color: red;
        font-weight: bold;
    }
}
