a.referenceLinks:visited,
a.referenceLinks:link {
    letter-spacing: 3px;
    background: lightcyan;
    color: black;
    padding: 2px 6px;
    border-radius: 4px;
    transition: 200ms;

    &:hover {
        background: lightblue;
    }
}

.description {
    font-size: 14px;
    text-align: right;
    width: 100%;
    margin: 10px 0;
}

.main {
    position: relative;
}

@media (width <= 1000px) {
    .tipWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tip {
        width: 100%;
        background: lightcyan;
        padding: 20px;
        color: black;
        border-radius: 15px;
    }
}

@media (width > 1000px) {
    .tipWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        position: absolute;
        right: 0;
        top: 0;
    }

    .tip {
        width: 400px;
        background: lightcyan;
        padding: 20px;
        color: black;
        border-radius: 15px;
    }
}

.title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.technologiesList {
    margin-left: 15px;
    margin-top: 10px;

    li {
        margin: 10px 0;
    }
}

.links {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.images {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image {
    width: 50px;
    height: 50px;
    transition: 200ms;

    &:hover {
        &:first-child {
            transform: scale(1.05) rotate(-30deg);
        }

        &:last-child {
            transform: scale(1.05) rotate(30deg);
        }
    }
}

.tipTitle {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.tipDescription {
    width: 100%;
    text-align: center;
}
