.description {
    font-size: 14px;
    text-align: right;
    width: 100%;
    margin: 10px 0;
}

.main {
    position: relative;
}

.tipWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: absolute;
    right: 0;
    top: 0;
}

.tip {
    width: 400px;
    background: lightcyan;
    padding: 20px;
    color: black;
    border-radius: 15px;
}

.title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.technologiesList {
    margin-left: 15px;
    margin-top: 10px;

    a {
        text-decoration: underline;
    }
}

.links {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;

    a {
        text-decoration: underline;
    }
}

.images {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image {
    width: 50px;
    height: 50px;
    transition: 200ms;

    &:hover {

        &:first-child {
            transform: scale(1.05) rotate(-30deg);
        }

        &:last-child {
            transform: scale(1.05) rotate(30deg);
        }
    }
}

.tipTitle {
    width: 100%;
    text-align: center;
}

.tipDescription {
    width: 100%;
    text-align: center;
}


