.button {
  cursor: pointer;
  border: none;
  outline: 2px solid white;
  padding: 5px 10px;
  background: transparent;
  color: white;
  border-radius: 10px;
  transition: 200ms;

  &:hover {
    background: #777;
  }

  &:disabled {
    cursor: not-allowed;
    background: grey;
    outline: 2px solid grey;
  }
}